<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/postalservice</property>
        <property name="connection.username">psdbuser</property>
        <property name="connection.password">postaldb</property>

        <property name="connection.pool_size">1</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>


        <!-- Mapping files for the varios classes which needs to be persisted -->
        <mapping resource="AddressInformation.hbm.xml"/>
        <!--Configuring the model class -->
        <!--<mapping class="edu.uic.cs.postalservice.model.User"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.PackageInformation"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.ContainerDetails"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.StationInformation"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.TrackInformation"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.UserInfo"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.UserPackage"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.UserRoles"/>-->
        <!--<mapping class="edu.uic.cs.postalservice.model.UserSecurity"/>-->


    </session-factory>
</hibernate-configuration>
