<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.url">ashwathdb.db.5637669.hostedresource.com</property>
        <property name="connection.username">ashwathdb</property>
        <property name="connection.password">Ashwath!1234</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--MySql dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>


        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <mapping resource="com/technicalkeeda/entities/Employee.hbm.xml"></mapping>

    </session-factory> </hibernate-configuration>